{% extends 'layout.html' %}

{% block title %}Log In{% endblock %}

{% block content %}
    <h1>Log In</h1>
    <div class="module">
        {% if form.errors %}
            <p>Sorry, your username and password doesn't match. Please enter the correct credentials</p>
        {% else %}
            <p>Kindly use the form below to Sign In</p>
        {% endif %}

        <div class="login-form">
            <form action="{% url 'login' %}" method="post">
                {{ form.as_p}}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{  Next }}" />
                <p><input type="submit" value="login"></p>
            </form>
        </div>
    </div>
    {% endblock %}